* {
  box-sizing: border-box;
}

html {
  font size: 10px;
}

body {
  /* background: red; */
}
.octocat img {
  max-width: 300px;
  border: solid 3px black;
}

.octodex {
 /* display: inline-block; */
}

.octocat {
  width: 30%;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  display: inline-block;
  position: relative;

  border: solid 10px red;
}

.authors > li  img {
  max-width: 10%;

  display: inline-block;
  position: relative;
  border: solid 3px green;
}

.image-footer {
  display: inline-block;
  border: solid 2px black;
}
